.container {
    width: 100%;
    padding: 10px 10px;
    box-sizing: border-box;
    position: relative;
}

.screening-table {
    width: 100%;
}

.layui-table-cell {
    font-size: 10px;
    padding: 0 5px;
    height: auto;
    overflow: visible;
    text-overflow: inherit;
    white-space: normal;
    word-break: break-all;
}